*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.generator{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;

    .ranges{
        display: flex;
        flex-direction: column;
        #range1{
            align-items: center;

        }
    }
}

input[type="range"]{
    width: 250px;
}

.radius-block{
    width: 50%;
    height: 550px;
    border: 1px solid #000;
}
